/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    
}

h1 {
    color: #0044cc;
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
    color: #0044cc;
}

.container{
    display: flex;
    justify-content: center;
}

.centered {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5%;
    
}
.nav-text{
    color: #f4f4f4;
    font-size: xx-large;
}
.user{
    margin: 10px;
    font-size: large;
    font-weight: bold;
}
.card-body{
    background-color: #cacaca;
}
.textid{
    font-style: oblique;
}

.add-recipe{
    margin: 10px;
}