{%include 'base.html'%}

{%block content%}
<div  style="width: max-content; height: 17rem; overflow: hidden; object-fit: cover; position: relative; ">
    <img src="{{ post.img.url }}" alt="{{ post.title }}" class=" card-img-top img-fluid">
</div>
<div class="recipe">
    <h1 class="titled">
        {{post.title}}
    </h1>
    <p>
        Author: <i>{{post.name}}</i>
        <br> prep time: {{post.prep_time}} minutes
    </p>
    <div>
        <h1 class="titled">
            Ingrediants
        </h1>
        <p>
            {{post.ingredients}}
        </p>
    </div>
    <div>
        <h1 class="titled">
            Steps
        </h1>
        <p>
            {{post.steps}}
        </p>
    </div>
</div>
{%endblock content%}