{%include 'base.html'%}

{%block content%}
<button type="button" class="btn btn btn-primary add-recipe">
    <a class="text-light " href="{%url 'createpost'%}">Add Recipe</a>
</button>
{%for post in recipes%}
<div class="card bg-light mx-auto " style="max-width: 23rem; margin: 10px; ">
    <img src="{{ post.img.url }}" alt="{{ post.title }}" class=" card-img-top img-fluid">
    <div class="card-body">
        <h3>
            <a href="{%url 'detailpost' post.id%}" class="card-link">{{post.title}}</a>
            <small class="text-body-secondary textid">- {{post.name}}</small>
          </h3>
    </div>
</div>
{%endfor%}
{%endblock content%}