/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    color: #333;
    
}

h1 {
    color: #0044cc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid blue;
}